html{max-width: 1500px;
    margin:auto;
    max-height: 400px}


header{ 
    font-size: 70; 
    color: floralwhite; 
    font-weight: bold; 
    text-align: center; 
    background-color: darkgray;
font-family: 'Roboto', sans-serif;}

a{color: black}
a:visited{color:black}

body{background-image: url(photos/Main%20menu.jpg); background-size:cover;
text-align: center;
margin: auto}

.menu> div{
    padding: 2;
    text-align: center;
    border: 1px solid;
background-color: darkgray}
.menu{ 
    display:grid; 
    grid-template-columns:auto auto auto;
    grid-gap: 5px; 
    }


.links{
    display:grid; 
    grid-template-columns;
    grid-gap: 5px;
}

.links> div{
    padding: 2;
    text-align: center;
    border: 1px solid; 
    background-color: darkgray;
    margin: auto;
    }





